<%content_for :head do%>
	<%= stylesheet_link_tag "notices" %>
<%end%>

<div id="ContentHeader">
	<h1>Adicionar Comunicado</h1>
	<div class="Clear"></div>
</div>

<div id="ContentSite">
	<div id="Notice">
		<%=render :partial => "form"%>
	</div>
</div>
