<div id="Mural">
	<div id="Feed_Header">
		<%=image_tag("template/avatar/blank_chat.jpg", :align => "left")%>
		<h1>Título do Post</h1>
		por Nome do Usuário - 00/00/00 - 00:00
	</div>

	<div id="Post">
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in nisl nec justo tincidunt imperdiet id id justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel condimentum tellus. Donec eu lacus eu lacus luctus rutrum ac at velit. Mauris vehicula vulputate velit, vitae fringilla purus tincidunt at. Aliquam vehicula varius sem, a vestibulum felis interdum in. Fusce et elit a magna hendrerit ultrices. Duis a mi pellentesque ipsum facilisis eleifend. Nulla facilisi. Proin ut massa nibh, in feugiat velit. Cras in diam sed purus varius fringilla. Duis facilisis purus viverra neque venenatis ultricies sit amet quis eros. In a vestibulum orci. In hac habitasse platea dictumst. Quisque molestie volutpat lorem, nec tincidunt augue posuere sed. Nunc tellus dolor, sagittis eget pharetra ut, faucibus et turpis. 
		</p>
	</div>
	
	<div id="Comments">
		<div id="Title">
			<h2>Comentários</h2>
			<%=link_to "[ ocultar ]", "#"%>
		</div>
		
		<div id="Comment">
			<div id="Photo">
				<%=image_tag("template/avatar/blank_chat.jpg")%>
			</div>
			
			<div id="Text">
				por Nome do Usuário - 00/00/00 - 00:00<br/><br/>
				
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in nisl nec justo tincidunt imperdiet id id justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vel condimentum tellus. Donec eu lacus eu lacus luctus rutrum ac at velit. Mauris vehicula vulputate velit, vitae fringilla purus tincidunt at. Aliquam vehicula varius sem, a vestibulum felis interdum in. </p>
			</div>
			
			<div class="Clear"></div>
		</div>
		
		<div id="Write_Comment">
			Deixe seu comentário:
			<input type="text" class="form_comment">
			<%=image_tag("template/buttons/enviar.png", :align => "right")%>
			<div class="Clear"></div>
		</div>
		
		
	</div>
</div>
