<h2>Filtrar Publicações</h2>

<h3>Ordenação:</h3>
<ul>
	<li>A - Z</li>
	<li>Z - A</li>
</ul>

<h3>Termo:</h3>
	<input type="text">

<h3>Categoria:</h3>
<ul>
	<li>Nome da Categoria</li>
	<li>Nome da Categoria</li>
</ul>

<h3>Usuário:</h3>
	<input type="text">
	
<h3>Por mês:</h3>