<div id="Footer">
	<p class="Copyright">Portal Gestores de Informação © 2011 - Todos os direitos reservados.</p>
	
	<p class="Apoio"><%=link_to "Política de Privacidade", "#"%>  |  <%=link_to "Termos de Uso", "#"%><p>
</div>