<h2>Comunicados</h2>

<%if !@notices_view.blank?%>
	<%@notices_view.each do |n|%>
		<%if n.notice.published?%>
			<div class="Unilever_Notification <%="Unilever_Notification_New" if !n.read?%>">
				<%=link_to n.notice.title, notice_path(n.notice) %><br/>
				<%=n.notice.created_at%>
			</div>
		<%end%>
	<%end%>
<%end%>
